<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Lista de lugares</h2>
</div>
<div class="pricing-header mx-auto">
  <div class="table-responsive">
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Id del Lugar</th>
          <th scope="col">Nombre del lugar</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let place of place
              | paginate: { itemsPerPage: 8, currentPage: p };
            let i = index
          ">
          <td>{{ place.placeName }}</td>
          <td class="text-center action-block">
            <span class="btn btn-outline-danger btn-sm" (click)="deletePlace(place)">Delete</span>
          </td>
        </tr>
        <tr *ngFor="
        let place of places
          | async 
      ">
          <td>{{ place.name}}</td>
          <td class="text-center action-block">
            <span class="btn btn-outline-danger btn-sm" (click)="deletePlace(place)">Delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="goMap()" class="btn btn-primary">Volver al mapa</button>
</div>